<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Fisting club since 1999</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Django People</h1>
                <hr class="mt-0 mb-4">
                <form action="" method="post"> {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>